* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #143a3f;
  padding: 1px;
  text-align: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  color: white;
}

.main-container {
  background-color: #80547B;
  width: 95%;
  height: auto;
  margin: 80px auto 30px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  padding: 30px;
  margin: 0%;
  letter-spacing: 15px;
  line-height: 30px;
  font-size: 30px;
}

header h1 {
  margin-top: 5px;
}

.container-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  margin-bottom: auto;
}

.container-image {
  width: 300px;
}

.playButton{
  height: 60px;
  width: 250px;
  margin: 10px auto;
  margin: auto 0;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15pt;
  font-weight: 800;
  letter-spacing: 0.3cm;
  color: #143a3f;
  background-color: aliceblue;
  border-style: none;
  cursor: pointer;
}

button:hover{
  background-color: rgb(255, 245, 158) ;
}

button:active{
  background-color: #f5f5f5;
}

.screen-two section {
  cursor: pointer;
  perspective: 800px; 
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2.5rem;
  margin-bottom: 20px;
}

.container-card {
  position: relative;
  cursor: pointer; 
  width: 10rem;
  height: 7.5rem;
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container-card img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.front,
.back {
  position: absolute;
  cursor: pointer;
}


.front {
  pointer-events: none;
  background-color: #143a3f;
  border-radius: 20px;
  align-content: center;
  backface-visibility: hidden;
}

.back {
  pointer-events: none;
  width: 173px;
  height: 126px;
  background-color: aliceblue;
  border-radius: 20px;
  align-content: center;
}

.toggleCard {
  transform: rotateY(180deg);
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
  .container-image {
    width: 200px;
  }

  .play-button {
    width: 150px;
    letter-spacing: 8px;
  }

  header h1,
  h2 {
    font-size: 25px;
  }
}


@media screen and (max-width: 425px) {
  .container-image {
    width: 130px;
  }

  .play-button {
    width: 100px;
    height: 40px;
    letter-spacing: 5px;
    font-size: 13px;
    margin-right: 25px;
  }

  header h1,
  h2 {
    font-size: 20px;
    letter-spacing: 5px;
  }
}

.card-container{
  display: flex; 
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
}

@media screen and (max-width: 320px) {
  .container-image {
    width: 100px;
  }

  .screen-one button {
    width: 80px;
    height: 30px;
    letter-spacing: 5px;
    font-size: 13px;
    margin-right: 25px;
  }

  header h1,
  h2 {
    font-size: 15px;
    letter-spacing: 5px;
  }
}

